ion-content {
  --ion-background-color: #dfe0df;
}

ion-header {
  ion-toolbar {
    height: 56px;  /* Hauteur recommandée pour les en-têtes sur mobile */
    display: flex;
    align-items: center;  /* Centrer verticalement les éléments */
    --background: linear-gradient(to right, #0eeb49, #05a83d) !important;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }

  ion-title {
    font-size: 1.2rem;  /* Taille du texte adaptable */
    text-align: center;
    color: white;

  }

  ion-back-button {
    --color: light;  /* Couleur spécifique du bouton retour */
  }
}


.message-list {
  padding: 0 15px;
}

.message-item {
  margin-bottom: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  padding: 15px;
}

.message-detail {
  margin-bottom: 10px;
}

.label-title {
  font-weight: bold;
  font-size: 16px;
  color: #333333;
  display: block;
}

.cart-label {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  background-color: #f9f9f9; /* Light background */
  border-radius: 20px; /* Rounded label */
  font-size: 16px;
  font-weight: bold;
  color: #333; /* Dark text */
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Light shadow for depth */
  transition: background-color 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    background-color: #e0e0e0; /* Slightly darker on hover */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); /* Slightly stronger shadow */
  }
}


.message-content {
  font-size: 18px;
  color: #555555;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
}

.message-content:last-child {
  border-bottom: none;
}

.search-container {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.arrow-container {
  position: fixed;
  bottom: 70%;
  right: 12px;
  cursor: pointer;
  z-index: 1000;
  transition: opacity 0.3s ease-in-out;
}

.red-arrow {
  font-size: 50px;
  color: #7cc571;
}

.error-container, .no-message-container {
  text-align: center;
  padding: 20px;
}

.error-icon {
  font-size: 60px;
}

.toolbar {
  --ion-toolbar-background: transparent;
  color: #fff;
  padding: 0 15px;
}

.recherche {
  flex: 1;
  margin-right: 10px;
  flex: 1;
  border-radius: 14px; /* Ajustez le border-radius si nécessaire */
  margin-right: 6px; /* Ajoutez une marge à droite pour l'espacement avec l'icône */
  padding: 1px; /* Ajoutez du padding à l'intérieur de l'input */
  box-shadow: 0px 2px 5px rgba(86, 195, 115, 0.2); /* Optionnel: ajoutez une ombre pour l'effet visuel */
  border: 1px solid #7d2424; /* Ajoutez une bordure si nécessaire */
  color: #0e0e0e;
  background-color: #ffffff;
}

ion-button {
  margin-top: 10px;
  width: 100%;
}
