<!-- Tab bar avec hideOnScroll -->
<ion-tabs color="success">
  <ion-tab-bar class="menu ion-justify-content-around" slot="bottom" hideOnScroll="true" color="success">

    <ion-tab-button (click)="acceuil()" tab="account" id="accueil-btn">
      <ion-icon class="custom-icon" name="home"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="service()" tab="contact" id="service-btn">
      <ion-icon class="custom-icon" name="construct"></ion-icon>
      <ion-label>Ping-Boutiques</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="openNotifications()" tab="settings" id="paiement-btn" style="position: relative;">
      <ion-icon class="custom-icon"  name="notifications"></ion-icon>
      <ion-badge *ngIf="unreadCount > 0" color="danger" style="font-size: 14px;">{{ unreadCount }}</ion-badge>
      <ion-label>Notifications</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="menu()" tab="settings" id="apropos-btn">
      <ion-icon class="custom-icon" name="menu"></ion-icon>
      <ion-label>Menu</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
