.menu .custom-icon {
  color: #ffffff; /* blanc */
}


/* Ajustement de la barre de tabulation */
.menu {
  height: 55px;
  width: auto;
  background-color: #2dd36f; /* Vert de la couleur de succès d'Ionic */
  border-bottom-left-radius: 20px; /* Rayon pour le coin inférieur gauche */
  border-bottom-right-radius: 20px; /* Rayon pour le coin inférieur droit */
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1); /* Ombre sous la barre de tabulation */
  transition: background-color 0.3s ease; /* Ajoute une transition de fondu à la couleur de fond */
  padding-bottom: env(safe-area-inset-bottom);
}


/* Style pour l'élément actif */
.menu .active {
  color: #ffffff;
  background-color: #00ff00;
  /* Ajoutez ici d'autres styles pour personnaliser l'effet */
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.9);
  transform: scale(1.10);
}

//// pour mon badge
.notification-badge {
  position: absolute;
  background: red;
  color: white;
  border-radius: 50%;
  padding: 5px;
  font-size: 13px;
}

ion-label{
  color: lavenderblush;
}
