.tool2{
  --background: linear-gradient(rgb(255, 255, 255), rgb(227, 227, 231)) !important;
  font-size: 19px;
  font-style: normal;
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  padding: 6;
  }

  .list{

    text-align: center;
     margin-top:25%;
     font-size: medium;
     width: auto;
    }

  .label{
font-size:large;
color: #2dd36f;
    }

    .info{
      font-size: medium;
          }

