
<ion-header>
  <ion-toolbar color="success" class="tool1">
    <ion-buttons  *ngIf="modif!==true" slot="start">
      <ion-back-button defaultHref="/" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title class="tool2" *ngIf="modif!==true && reponse !==true">COMMENTAIRE</ion-title>
    <p (click)="annulermodif()" *ngIf="modif==true" class="btnannuler">Annuler</p>
    <p (click)="annulerepondre()" *ngIf="reponse==true" class="btnannuler">Annuler</p>
  </ion-toolbar>
</ion-header>



  <ion-content padding  class="custom-background"  style="--offset-bottom: 300px;" >
  <ion-refresher slot="fixed" (ionRefresh)="refreshPage($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="custom-container">
    <div *ngFor="let pubs of pubs" class="custom-card">
      <div *ngIf="pubs.countdown !== undefined && pubs.countdown !== null && pubs.countdown.trim() !== 'non'">
        <ion-label class="deconte" [ngClass]="{'blinking-text': shouldBlink(pubs.countdown)}">  {{ pubs.countdown }}</ion-label>
      </div>

      <br>  <!-- Pour ne pas deplacer le titre -->

          <ion-card-title class="titre"   *ngIf="pubs.titre.toLowerCase().trim() !== 'non'  && pubs.titre !== null && pubs.titre !== undefined" >{{pubs.titre}}</ion-card-title>

        <!-- Commentaire de la publicité -->
        <p [innerHTML]="commentaireService.sanitize(pubs.commentaire)"
        *ngIf="pubs.commentaire.toLowerCase().trim() !== 'non' && pubs.commentaire !== null && pubs.commentaire !== undefined"
        class="commentaire">
        </p>

        <p class="ligne"></p> <br>

        <ion-card-content>

          <!-- Illustration (image ou vidéo) de la publicité -->
          <ng-container   *ngIf="(pubs.photo.includes('.jpg') || pubs.photo.includes('.png')) && pubs.photo.toLowerCase().trim() !== 'non' && pubs.photo.trim() !== null && pubs.photo.trim() !== undefined">
            <ion-img  class="custom-image facebook-style"  [src]="pubs.photo.trim()" ></ion-img>
          </ng-container>

          <!-- Votre composant HTML -->

          <ng-container  *ngIf="(!pubs.photo.includes('.jpg') && !pubs.photo.includes('.png')) && pubs.photo.toLowerCase().trim() !== 'non' && pubs.photo !== null && pubs.photo !== undefined" >
            <video #videoElement class="custom-image video-style"   (click)="handleVideoClick(videoElement)" loop muted  controls>
              <source [src]="pubs.photo.trim()" type="video/mp4">
            </video>
          </ng-container>

          <br>
          <ion-label  class="localisation" *ngIf="pubs.distanceToUser !== undefined && pubs.distanceToUser !== null  && pubs.longitude.toLowerCase().trim() !== 'non' && pubs.latitude.toLowerCase().trim() !== 'non' && pubs.distanceToUser !== NaN " >
            Vous êtes présentement à : {{ convertMetersToKilometers(pubs.distanceToUser) }} du lieu.
          </ion-label>
          <br>
          <p class="ligne"></p>
            <br>

            &nbsp;

          <ion-button *ngIf="pubs.longitude && pubs.latitude  && pubs.longitude !== undefined && pubs.latitude !== undefined  && pubs.longitude !== null && pubs.latitude !== null && pubs.longitude.toLowerCase().trim() !== 'non' && pubs.latitude.toLowerCase().trim() !== 'non' " class="btnpub location" fill="outline" [href]="'https://www.google.com/maps/dir/?api=1&origin=' + userlatitude + ',' + userlongitude + '&destination=' + pubs.latitude + ',' + pubs.longitude + '&travelmode=driving&dir_action=navigate&waypoints=' + pubs.latitude + ',' + pubs.longitude">
            Localiser le lieu
            <ion-icon name="location-outline"></ion-icon>
          </ion-button>

           &nbsp; <br>

          <ion-button *ngIf="pubs.contact &&  pubs.contact.trim() !== '0'  &&  pubs.contact !== undefined &&  pubs.contact !== null" class="btnpub contact" fill="outline" [href]="getWhatsAppLink(pubs.contact)">
            <ion-icon class="black" name="logo-whatsapp"></ion-icon>
            Contact-Info
          </ion-button>
            <br>
            <br>
            <!-- Remplacez la section j'aime par ce code -->
            <div class="left-align">
              <ion-label class="h2 light"  *ngIf="pubs.likes !== null && pubs.likes !== undefined">{{ pubs.likes }}</ion-label>
              <br>

              <div style="display: flex; justify-content: space-between;">
                <!-- Bouton "J'aime" aligné à gauche -->
                <ion-button (click)="LikePub(pubs)" class="likes" fill="outline" [ngClass]="{'vert': pubs.couleur.trim() === 'oui'}">
                  <ion-icon class="black" name="thumbs-up"></ion-icon>
                  J'aime
                </ion-button>

                <!-- Bouton "Commentaire" aligné à droite
                <ion-button (click)="CommentPub(pubs)" class="likes" fill="outline" >
                  <ion-icon class="black" name="chatbox"></ion-icon>
                  Commentaire
                </ion-button>
                -->
              </div>

            </div>
        </ion-card-content>

      </div>
    </div>

    <div (click)="closeOptions($event)"> <!-- Ajoutez ce div pour détecter les clics en dehors du menu -->
      <ion-list #commentList>

      <ion-item class="itemcommentaire" *ngFor="let commentaire of comment">
        <ion-label [class]="commentaire.iduser === iduser ? 'my-comment' : 'other-comment'">

          <!-- Afficher le commentaire parent s'il existe -->
          <ng-container *ngIf="commentaire.idcommentrepondu">
            <div class="parent-comment">
              <strong>{{ findParentComment(commentaire.idcommentrepondu)?.nom }} {{ findParentComment(commentaire.idcommentrepondu)?.prenom }}</strong>
              <p class="comment-date">{{ formatCommentTime(findParentComment(commentaire.idcommentrepondu)?.heure) }}</p>
              <p class="reponse">{{ findParentComment(commentaire.idcommentrepondu)?.commentaire }}</p>
            </div>
          </ng-container>
          <br>
          <!-- Afficher le commentaire de reponse -->
          <div >
            <strong>{{ commentaire.nom }} {{ commentaire.prenom }}</strong>
            <p class="comment-date">{{ formatCommentTime(commentaire.heure) }}</p>
            <p class="reponse">{{ commentaire.commentaire }}</p>
          </div>
          <!-- Bouton "Plus" pour afficher les options -->
          <p class="ligne"></p>
          <ion-icon  style="zoom: 2.6;" name="menu" (click)="toggleOptions(commentaire)" [ngClass]="{ 'active': commentaire.showOptions }"></ion-icon>
          <!-- Liste des options -->
          <ul id="comment-options-{{ commentaire.id }}" class="comment-options" [ngClass]="{ 'active': commentaire.showOptions }">
            <br>
            <div (click)="repondre(commentaire)">Repondre</div> <br>
            <div *ngIf="commentaire.iduser == iduser" (click)="modifcommentaire(commentaire)">Modifier</div> <br>
            <div *ngIf="commentaire.iduser == iduser" (click)="presentAlert(commentaire.id)">Supprimer</div> <br>
            <div (click)="copiercommentaire(commentaire.commentaire)">Copier</div> <br>
            <div  (click)="signalerCommentaire(commentaire)">Signaler</div> <br>
          </ul>
        </ion-label>
      </ion-item>
    </ion-list>

  </div>


  </ion-content>



  <ion-footer>
    <ion-toolbar>
    <ion-item>
      <div *ngIf="!countdownValue">
        <ion-input [(ngModel)]="newComment" placeholder="Ajouter un commentaire..."></ion-input>
      </div>
        <ion-button (click)="submitComment()" class="likes1" fill="outline" color="success" *ngIf="modif!==true && reponse!==true" [disabled]="isButtonDisabled || !newComment">
          <ion-icon name="chatbox"></ion-icon>
           <ng-container *ngIf="!countdownValue">
            Ping
           </ng-container>
           <span *ngIf="countdownValue && countdownValue !== null && countdownValue !== undefined">(Patientez {{ countdownValue }} seconde{{ countdownValue === 1 ? '' : 's' }}) </span>
        </ion-button>

          <ion-button (click)="modifierCommentaire(newComment)" class="likes1" fill="outline" color="success"  *ngIf="modif==true" [disabled]="!newComment">
            <ion-icon name="chatbox"></ion-icon>
             <ng-container >
              Modifier
             </ng-container>
            </ion-button>

            <ion-button (click)="repondrecommentaire(newComment)" class="likes1" fill="outline" color="success"  *ngIf="reponse==true" [disabled]="!newComment">
              <ion-icon name="chatbox"></ion-icon>
               <ng-container >
                Repondre
               </ng-container>
              </ion-button>
        </ion-item>
    </ion-toolbar>
  </ion-footer>



