<ion-header>
  <ion-toolbar >
    <ion-title >ALERTE</ion-title>
  </ion-toolbar>

<ion-toolbar>
    <ion-input class="recherche" type="text" placeholder=" Rechercher id, nom, prenom,..." [(ngModel)]="term" (ionInput)="search_active($event)"></ion-input>
</ion-toolbar>

<ion-toolbar>
<ion-label (click)="refreshPage($event)" class="cart-label" color="light" slot="end">
  Actualiser
</ion-label>
</ion-toolbar>

</ion-header>

<div class="arrow-container" #scrollButton  (click)="scrollToTop()" >
  <ion-icon name="arrow-up-circle" class="red-arrow" style="zoom: 3.0;"></ion-icon>
</div>

<div *ngIf="showArrow" class="arrow-container" (click)="scrollToTop()">
  <ion-icon name="arrow-up-circle" class="red-arrow" style="zoom: 3.0;"></ion-icon>
</div>


<ion-content padding  class="custom-background">

  <ion-refresher slot="fixed" (ionRefresh)="refreshPage($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

    <ion-item  class="select1"  >
      <ion-select  class="select_alert"  [(ngModel)]="selectedStatus"  (ionChange)="filterAlerts()" placeholder="Catégorie">
        <ion-select-option value=''>Aucune</ion-select-option>
        <ion-select-option value="oui">Alerte gérée</ion-select-option>
        <ion-select-option value="non">Alerte non gérée</ion-select-option>
      </ion-select>
       &nbsp;
        <ion-select  class="select_alert" (ionChange)="filterAlerts()"  [(ngModel)]="service_choisi" placeholder="service">
          <ion-select-option  value=''>
            aucune
          </ion-select-option>
          <ion-select-option *ngFor="let service of service" [value]="service.valeur">
            {{ service.nom }}
          </ion-select-option>
        </ion-select>
         &nbsp;
        <ion-select  class="select1"  (ionChange)="filterAlerts()" [(ngModel)]="ville_choisi" class="select_alert" placeholder="ville">
          <ion-select-option  value=''>
            aucune
          </ion-select-option>
          <ion-select-option *ngFor="let ville of ville" [value]="ville.valeur">
            {{ ville.nom }}
          </ion-select-option>
        </ion-select>
      </ion-item>


  <div *ngIf="recherche_date">
    <ion-item>
      <ion-label>De</ion-label>
      <ion-datetime display-format="YYYY-MM-DD" [(ngModel)]="startDate"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>À</ion-label>
      <ion-datetime display-format="YYYY-MM-DD" [(ngModel)]="endDate" [min]="startDate" (ionChange)="updateDateFin($event)"></ion-datetime>
    </ion-item>

    <ion-button (click)="choisir_date()">Appliquer filtre de date</ion-button>

    <ion-button (click)="annuler_date()" color="warning">Annuler</ion-button>
  </div>

  <ion-button (click)="refreshPage($event)"  color="success" style="padding: 5px; margin: 1px;">Actualiser</ion-button>
  &nbsp;  &nbsp;
  <ion-button size="small" (click)="date()" color="success" style="padding: 5px;" *ngIf="!recherche_date">date</ion-button>


  <ion-list class="message-list" *ngIf="alert !== 'erreur_chargement' && alert !== 'aucune_alerte'" >
      <div lines="inset" class="message-item" *ngFor="let alert of alert | customFilter: term">
        <div>
          <ion-label class="deconte non-geree" *ngIf="alert.statut !== 'oui'">Alerte non gérée</ion-label>
          <ion-label class="deconte geree" *ngIf="alert.statut === 'oui'">Alerte gérée</ion-label>
        </div>
        <ion-card-header>
          <h2 color="success">{{ alert.service }}</h2>
        </ion-card-header>
        <ion-card-content>
          <ng-container *ngIf="isImage(alert.image)">
            <!-- Vérifie si c'est une image -->
            <ion-img class="custom-image" *ngIf="isImage(alert.image)" [src]="alert.image.trim()"></ion-img>
          </ng-container>

            <ng-container *ngIf="isVideo(alert.image)" >
            <!-- Vérifie si c'est une vidéo -->
            <video #videoElement class="custom-image video-style" (click)="toggleManualPause(videoElement)"  loop muted >
              <source [src]="alert.image.trim()">
            </video>
            <br>
            <div class="controls">
              <ion-icon name="play" style="zoom: 2.5;" (click)="toggleManualPause(videoElement)" *ngIf="videoElement.paused"></ion-icon>
              <ion-icon name="pause" style="zoom: 2.5;" (click)="toggleManualPause(videoElement)" *ngIf="!videoElement.paused"></ion-icon>
              <input type="range" min="0" [max]="videoElement.duration" [value]="videoElement.currentTime" (input)="seekVideo($event, videoElement)">
            </div>
          </ng-container>

          <br>
          <ion-label class="label-title"> Description :</ion-label>
          <h2 class="message-content">{{ alert.description }}</h2>

          <ion-label class="label-title"> ville concerné : </ion-label>
          <h2 class="message-content">{{ alert.ville }} </h2>

          <ion-label class="label-title" *ngIf="userData.grade === 'admin' || userData.grade === 'superadmin'">id signalisation : </ion-label>
          <h2 class="message-content">{{ alert.id }}</h2>

          <ion-label class="label-title">nom alerteur : </ion-label>
          <h2 class="message-content">{{ alert.nom }}</h2>

          <ion-label class="label-title">prenom alerteur:</ion-label>
          <h2 class="message-content">{{ alert.prenom }}</h2>

          <ion-label class="label-title">id_user alerteur:</ion-label>
          <h2 class="message-content">{{ alert.iduser }}</h2>

          <ion-label class="label-title">Contact:</ion-label>
          <h2 class="message-content">{{ alert.numuser }}</h2>

          <ion-label class="label-title">Coordonnées:</ion-label>
          <h2 class="message-content">{{ alert.latitude }}, {{ alert.longitude }}</h2>

          <ion-label class="label-title">Heure de signalisation:</ion-label>
          <h2 class="message-content">{{ formatCommentTime(alert.heure_signalisation) }}</h2>

          <br>
          <p class="ligne"></p>
          <div *ngIf="alert.statut == 'oui'">
          <ion-label class="label-title">Nom et prenom admin:</ion-label>
          <h2 class="message-content">{{ alert.nom_admin }} {{ alert.prenom_admin }}</h2>
          <ion-label class="label-title">id_user admin:</ion-label>
          <h2 class="message-content">{{ alert.iduser_admin }}</h2>
          </div>

          <br>
          <ion-label class="label-title" *ngIf="alert.distanceToUser !== undefined
          && alert.distanceToUser !== null
          && alert.latitude !== undefined
          && alert.longitude !== undefined
          && alert.latitude !== null
          && alert.longitude !== null">
          Vous êtes présentement à :
          </ion-label> <h2 class="message-content"
          *ngIf="alert.distanceToUser !== undefined
          && alert.distanceToUser !== null">
          {{ convertMetersToKilometers(alert.distanceToUser) }} du lieu.</h2>

          <br>
          <ion-button color="success" expand="full"
          *ngIf="alert?.latitude !== undefined
              && alert?.longitude !== undefined
              && alert?.latitude !== null
              && alert?.longitude !== null"
              (click)="openInMaps(alert.latitude, alert.longitude)">
              Démarrer la navigation
          </ion-button>

        </ion-card-content>
        <br>
        <ion-button *ngIf="alert.statut !== 'oui'" color="warning" expand="full" (click)="terminer(alert)">Terminer l'alerte</ion-button>

        <div *ngIf="alert.statut === 'oui' && alert.statut_rapport === 'oui'">
          <ng-container *ngIf="!isEditingRapport || editingRapportId !== alert.id">
            <ion-item lines="none" class="edit-rapport-item">
              <ion-label class="info" position="stacked">Modifier rapport</ion-label>
              <ion-icon name="create-outline" class="edit-icon" color="success" slot="end" (click)="editField(alert.id)"></ion-icon>
            </ion-item>
          </ng-container>

          <ng-container *ngIf="isEditingRapport && editingRapportId === alert.id">
            <ion-textarea [(ngModel)]="modif_rapport" rows="10" maxlength="500" ></ion-textarea>
            <br>
            <ion-button class="list" fill="outline" color="success" (click)="modifier(alert)">
              <ng-container>Modifier rapport</ng-container>
              &nbsp;
              <ion-icon name="save-outline"></ion-icon>
            </ion-button>

            <ion-button class="list" fill="outline" color="warning" (click)="annuler()">
              <ng-container>Annuler</ng-container>
            </ion-button>
          </ng-container>
        </div>

        <div *ngIf="alert.statut == 'oui' && alert.statut_rapport !== 'oui'">
          <ion-item>
            <ion-label position="floating">Rapport</ion-label>
            <ion-textarea [(ngModel)]="alert.rapport" rows="10"></ion-textarea>
          </ion-item>
          <br>
          <ion-button color="warning" expand="full" (click)="soumettre_rapport(alert)">Soumettre rapport</ion-button>
        </div>
      </div>

  </ion-list>

  <br *ngIf="alert == 'erreur_chargement'">
  <br *ngIf="alert == 'erreur_chargement'">
  <div *ngIf="alert == 'erreur_chargement'" class="erreur_chargement">
    <ion-icon name="alert-circle" style="zoom: 12;" color="success"></ion-icon>
    <p>Erreur de chargement</p>
    <br>
    <ion-button color="success" (click)="refreshPage($event)" >réessayer</ion-button>
  </div>

  <br *ngIf="alert == 'aucune_alerte'">
  <br *ngIf="alert == 'aucune_alerte'">
  <div>
    <div  *ngIf="alert == 'aucune_alerte'" class="erreur_chargement">
      <ion-icon name="alert-circle" style="zoom: 12;" color="success"></ion-icon>
      <p>Aucune alerte effectué</p>
      <br>
    </div>
  </div>

  <ion-infinite-scroll threshold="100px" [disabled]="infiniteScrollDisabled" (ionInfinite)="getLoadFunction($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Chargement...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>


</ion-content>




