<ion-content>
  <div class="divlogin">
    <form class="form" [formGroup]="verifieForm" >
    <ion-card>
<ion-card-header>
  <div class="item-note" class="liste_user"  *ngIf="userData.grade === 'superadmin'">

  </div>
<ion-card-title  color="success">Réinitialisation</ion-card-title>
</ion-card-header>

<ion-card-content>

  <ion-item>
    <ion-label position="floating" >Mot de Passe</ion-label>
    <ion-input id="password"  type="{{showPassword ? 'number' : 'Password'}}" [(ngModel)]="password"  formControlName="password" ></ion-input>
    <ion-icon slot="end" [name]="showPassword ? 'eye-off' :'eye'" (click)="togglePasswordVisibility()"></ion-icon>
  </ion-item>
  <ion-label color="danger" *ngIf="verifieForm.get('password').touched && verifieForm.get('password').hasError('required')">Entrer un mot de passe</ion-label>
  <ion-label color="danger" *ngIf="verifieForm.get('password').touched && verifieForm.get('password').hasError('pattern')">
    Le mot de passe doit être composé de 4 chiffres.
  </ion-label>
  <ion-label color="danger" *ngIf="verifieForm.get('password').touched && verifieForm.get('password').hasError('maxLength')">mot de passe trop grand </ion-label>
  <ion-label color="danger" *ngIf="verifieForm.get('password').touched && verifieForm.get('password').hasError('minLength')">mot de passe trop petit </ion-label>


  <br/>
  <ion-item>
    <ion-label position="floating" > Confirme le mot de Passe</ion-label>
    <ion-input id="password"  type="{{showPassword ? 'text' : 'Password'}}" [(ngModel)]="password2" formControlName="password2"  pattern="{{password}}" ></ion-input>
    <ion-icon slot="end" [name]="showPassword ? 'eye-off' :'eye'" (click)="togglePasswordVisibility()"></ion-icon>
  </ion-item>
  <ion-label position="floating" class="mot_passe"> Assurez-vous que les mots de passes correspondent</ion-label>
  <br/> <br/>

<ion-button color="success" size="full" (click)="reinitialise()" [disabled]="!verifieForm.valid" > S'inscrire</ion-button>
<br/>
</ion-card-content>
</ion-card>
</form>
</div>
</ion-content>
