ion-content {
  --background: #f9f8f8;
}

ion-header {
  ion-toolbar {
    height: 56px;  /* Hauteur recommandée pour les en-têtes sur mobile */
    display: flex;
    align-items: center;  /* Centrer verticalement les éléments */
    --background: linear-gradient(to right, #0eeb49, #05a83d) !important;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  ion-title {
    font-size: 1.2rem;  /* Taille du texte adaptable */
    text-align: center;
    color: white;

  }

  ion-back-button {
    --color: light;  /* Couleur spécifique du bouton retour */
  }
}


ion-item {
  --inner-padding-start: 10px;
  --inner-padding-end: 10px;
    margin: 10px 0;
    --background: #f9f8f8;
}

ion-label {
  font-weight: bold;
}

ion-select,
ion-button {

  margin-top: 20px;

}

img {
  display: block;
  width: 100%;
  height: auto;
  margin: 20px 0;
}

.form-control {
  margin-bottom: 20px;
  color: var(--ion-color-success);
}

.coord-label {
  font-size: 18px;
  margin-bottom: 20px;
  color: var(--ion-color-success);
}

.coord-value {
  font-size: 19px;
  margin-bottom: 20px;
  font-weight: bold;
  color: #141414;

}


/* Dans votre fichier CSS ou SCSS */
.custom-image {
  width: 40%;
  height: 40%;
  object-fit: cover; /* Cela garantit que l'image couvre entièrement le conteneur, sans déformation */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
}

.custom-video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Cela garantit que l'image couvre entièrement le conteneur, sans déformation */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
}


.video-style {
  width: 100%;
  height: auto;
  box-shadow: 7px 7px 7px  rgba(52, 204, 100, 0.1); /* Ombre, ajustez selon vos besoins */
  object-fit: cover; /* ou object-fit: contain; en fonction de votre besoin */
}

.alert {
  text-align: center;
  color: rgb(143, 150, 3);
}

#map {
  width: 100%;
  height: 100px;
  display: none; /* Masquer la carte par défaut */
}
