ion-header {
  ion-toolbar {
    height: 56px;  /* Hauteur recommandée pour les en-têtes sur mobile */
    display: flex;
    align-items: center;  /* Centrer verticalement les éléments */
    --background: linear-gradient(to right, #0eeb49, #05a83d) !important;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  ion-title {
    font-size: 1.2rem;  /* Taille du texte adaptable */
    text-align: center;
    color: white;

  }

  ion-back-button {
    --color: light;  /* Couleur spécifique du bouton retour */
  }
}


.verification-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  background-color: #f0f0f0; /* Couleur de fond */
}

.verification-container {
  width: 100%;
  padding: 100px;
  background-color: rgb(208, 216, 206);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.verification-item {
  margin-bottom: 100px;
}

.verification-input {
  --padding-start: 12px; /* Padding intérieur */
  --padding-end: 12px;
}

.verification-button {
  --border-radius: 20px;
  --background: linear-gradient(90deg, rgba(33, 150, 83, 1) 0%, rgba(56, 176, 106, 1) 100%);
}
