.erreur_chargement {
  text-align: center;
  bottom: 35%;
}

.toolbar {
  background-color:   #10c938;
    --ion-toolbar-background: transparent;
    color: #fff;
    padding: 0 15px;
  }


.title {
  text-align: center;
  width: 100%;
}
