.erreur_chargement {
  text-align: center;
  bottom: 35%;
}

.toolbar {
  background-color:   #10c938;
    --ion-toolbar-background: transparent;
    color: #fff;
    padding: 0 15px;
  }


.title {
  text-align: center;
  width: 100%;
}

.graphe{
  text-align: center;
  height: 1000px;
  }

  @media (min-width: 1024px) {
    .div_screen {
      padding-bottom: 0 !important;
      width: 67%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 18%;
    }
  }
