

.toolbar {
--background: linear-gradient(to right, #0eeb49, #05a83d); /* Ajout d'un dégradé */
--ion-toolbar-background: transparent;
color: #fff;
padding: 0 15px;
}


.title {
text-align: center;
width: 100%;
}

.header-row {
display: flex;
justify-content: center;
align-items: center;
}

.service-card {
margin: 10px;
margin-top: 9px;
border-radius: 10px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
background-color: #e4e8e5;
}

.nom {
font-size: 18px;

}

ion-card-content p {
color: #666;
}

ion-button {
--background: #3880ff;
--color: #fff;
margin-top: 10px;
}

.icon-right {
float: right; /* Aligne l'icône à droite */
}

.iconsupp{
//display: inline-block;
color: #f70707a9;
}


.icon{
//display: inline-block;
font-size: 42px;
color: #2dd36f;
vertical-align: middle;
float: right;
}


.span{
display: inline-block;
vertical-align: middle;
font-style: normal;
text-align: center;
--ion-background-color:#fdfdfd;
font-family: "Roboto", sans-serif;
--background: linear-gradient(#e0ede4, #afcab0) !important;
padding: 8px;
}
