
<ion-header  >
  <ion-toolbar color="success" class="tool1" >
    <br/> <br/>
    <ion-title class="tool2">SERVICES</ion-title>
    <br/>
    <div class="item-note"  *ngIf="grade === 'superadmin'">
    <ion-button color="light"  size="small" class="utilisateur"  [routerLink]="['/liste-user/']" >Utilisateurs</ion-button>
  </div>
    <ion-button color="danger"  size="small" class="deconnect" (click)="deconnect()" >Deconnexion</ion-button><br/><br/>
    <div class="span1"  *ngIf="grade === 'admin' || grade === 'superadmin'">
      <ion-button  class="span1"  size="small"   [routerLink]="['/categorie/']" >Categorie</ion-button>
    </div>

      <br/>
      <br/>
    <div  style="display: flex;">
      <ion-label class="h2 light">{{prenom1 | uppercase}}</ion-label>
      <span style="margin-left: auto;">
        <ion-button (click)="reloadPage()" class="light" color="light" style="text-align: left;">
          actualiser
        </ion-button>

      </span>
    </div>

    <ion-searchbar class="recherche" type="text"  placeholder="Rechercher un service"  [(ngModel)]="term"  ></ion-searchbar>

  </ion-toolbar>

</ion-header>


  <ion-item>
    <ion-label>Catégorie</ion-label>
    <ion-select class="select" [(ngModel)]="term2" placeholder="Sélectionner une catégorie">
       <!-- Option pour la valeur par défaut (rien de sélectionné) -->
    <ion-select-option value="">Aucune</ion-select-option>
    <!-- Options pour les catégories -->
      <ion-select-option *ngFor="let categorie of categorie" [value]="categorie.nom_categorie">
        {{categorie.nom_categorie}}
      </ion-select-option>
    </ion-select>
    <ion-icon color="success"  style="zoom: 0.8;" name="search-outline" slot="end"></ion-icon>
  </ion-item>



<ion-content padding  class="tool3" [fullscreen]="true" style="--offset-bottom: 56px;">
  <ion-refresher slot="fixed" (ionRefresh)="refreshPage($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-item class="span" *ngIf="grade === 'admin' || grade === 'superadmin'">

    <span class="span" color="success">Ajouter une entreprise </span>
    <ion-icon type="button" [routerLink]="['/ajouter-entreprise/']" name="add-circle-outline" class="icon"></ion-icon>
  </ion-item>

<ion-list class="list" #maliste>
 <ion-item class="itementreprise" button *ngFor="let entreprise of entreprises | customFilter: term | customFilter: term2">
  <ion-label color="dark"  [routerLink]="'/' + entreprise.infoservice">
    <ion-label class="h2">{{entreprise.nom_entreprise}}</ion-label>

  </ion-label>
  <div class="item-note"  *ngIf="grade === 'admin' || grade === 'superadmin'">
  <ion-icon name="create"  style="zoom: 2.0;"  color="success"  [routerLink]="'/' + entreprise.lienmodif"></ion-icon>
  <ion-icon name="trash"  style="zoom: 2.0;"  class="iconsupp" (click)="presentAlert(entreprise.id)"></ion-icon>
  </div>
</ion-item>
</ion-list>


<!-- <div style="margin-bottom: 50px;"></div>-->

<!-- Tab bar fixe en bas de la page -->
  <!-- Tab bar -->

</ion-content>

<!-- Tab bar avec hideOnScroll -->
<ion-tab-bar  class="menu"   slot="bottom" hideOnScroll="true">
 <ion-tab-button (click)="acceuil()" tab="account">
   <ion-icon  class="custom-icon" name="home"></ion-icon>
 </ion-tab-button>
 <ion-tab-button (click)="service()" tab="contact">
   <ion-icon  class="custom-icon" name="glasses"></ion-icon>
 </ion-tab-button>
 <ion-tab-button  (click)="ping()"tab="settings">
   <ion-icon class="custom-icon"  name="star"></ion-icon>
 </ion-tab-button>
 <ion-tab-button  (click)="apropos()" tab="settings">
   <ion-icon class="custom-icon" name="information-circle"></ion-icon>
 </ion-tab-button>
</ion-tab-bar>
