<ion-header>
  <ion-toolbar >
    <ion-title >NOTIFICATIONS</ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-label (click)="refreshPage($event)" class="cart-label" color="light" slot="end">
      Actualiser
    </ion-label>
 </ion-toolbar>

</ion-header>

<ion-content >

  <ion-refresher slot="fixed" (ionRefresh)="refreshPage($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>


<div *ngIf="notifications.length < 1 ||  notifications =='erreur' " class="erreur_chargement">
    <ion-icon name="alert-circle" style="zoom: 12;" color="success"></ion-icon>
    <p >Pas de nouvelle notifications !</p>
    <br>
</div>

<br>
<ion-list *ngIf="notifications.length !== 0 && notifications !=='erreur'" class="notification-list">
  <ion-item *ngFor="let notification of notifications" lines="none">
    <div class="notification-item">
      <ion-label>
        <h2 class="notification-title">{{ notification?.title }}</h2>
        <p class="notification-message">{{ notification?.message }}</p>
        <p class="notification-timestamp">{{ formatCommentTime(notification?.timestamp) }}</p>
      </ion-label>
      <ion-button fill="outline" *ngIf="notification?.page" color="success" (click)="viewNotification(notification)">
        Voir
      </ion-button>
    </div>
  </ion-item>
</ion-list>

</ion-content>

<!-- menu -->
<app-sidebar></app-sidebar>
