
<ion-header  >

  <ion-toolbar >
    <ion-title >PINGOPING NEWS</ion-title>
  </ion-toolbar>


  <ion-toolbar>
    <ion-label (click)="evenement()" class="cart-label" color="light" slot="start">
      evenement
    </ion-label>

    <ion-label (click)="reloadPage()" class="cart-label" color="light" slot="end">
      Actualiser
    </ion-label>
 </ion-toolbar>

<ion-toolbar>
<ion-label class="h2 light">{{userData.prenom1 | uppercase}}</ion-label>
</ion-toolbar>

</ion-header>


<div class="arrow-container" #scrollButton  (click)="scrollToTop()" >
  <ion-icon name="arrow-up-circle" class="red-arrow" style="zoom: 3.0;"></ion-icon>
</div>

<ion-content padding  class="custom-background"  >

<ion-refresher slot="fixed" (ionRefresh)="refreshPage($event)">
  <ion-refresher-content></ion-refresher-content>
</ion-refresher>

<!-- Fin  de mon toolbar -->
<ion-item class="span" *ngIf="userData.grade === 'admin' || userData.grade === 'superadmin'">

<span class="span" color="success">Ajouter une entreprise </span>
<ion-icon type="button" [routerLink]="['/ajouterpub/']" name="add-circle-outline" class="icon"></ion-icon>
</ion-item>


<ion-list *ngIf="pub !== 'erreur_chargement' && pub !== 'aucune_alerte'" class="message-list">
  <div lines="inset" class="message-item" *ngFor="let pub of pub">
    <!-- Si l'utilisateur est un admin ou un superadmin, afficher toutes les pubs -->
    <div *ngIf="userData.grade === 'admin' || userData.grade === 'superadmin'" class="custom-card">

      <!-- Indication visuelle pour les pubs administratives -->
      <div *ngIf="pub.admin.trim() === 'admin'" class="admin-indicator">
        <ion-label color="success">ADMIN</ion-label>
      </div>

      <!-- Indication visuelle pour les pubs administratives -->
      <div *ngIf="pub.admin.trim() === 'evenement'" class="admin-indicator">
        <ion-label color="success">evenement</ion-label>
      </div>

      <!-- Le reste de votre code d'affichage des pubs -->
      <div *ngIf="pub.countdown !== undefined && pub.countdown !== null && pub.countdown.trim() !== 'non'">
        <ion-label class="deconte" [ngClass]="{'blinking-text': shouldBlink(pub.countdown)}">  {{ pub.countdown }}</ion-label>
      </div>
      <br>

      <br>
      <br *ngIf="pub.countdown !== undefined && pub.countdown !== null && pub.countdown.trim() !== 'non'">

      <ion-card-title class="titre" *ngIf="pub.titre.toLowerCase().trim() !== 'non' && pub.titre !== null && pub.titre !== undefined">
        {{pub.titre}}
      </ion-card-title>

      <p [innerHTML]="commentaireService.sanitize(getDisplayedCommentaire(pub))"
      *ngIf="pub.commentaire.toLowerCase().trim() !== 'non' && pub.commentaire !== null && pub.commentaire !== undefined"
      class="commentaire">
      </p>
      <a *ngIf="getPlainText(pub.commentaire).length > limit_comment" (click)="toggleCommentaire()" class="see-more-link">
        {{ showFullCommentaire ? 'Voir moins' : 'Voir plus' }}
      </a>

      <p class="ligne"></p>
      <br>

      <ion-card-content>
        <!-- Illustration (image ou vidéo) de la publicité -->
        <ng-container *ngIf="isImage(pub.photo)">
          <ion-img class="custom-image facebook-style" [src]="pub.photo.trim()"></ion-img>
        </ng-container>

        <ng-container *ngIf="isVideo(pub.photo)">
          <video #videoElement class="custom-image video-style" (click)="toggleManualPause(videoElement)" loop muted>
            <source [src]="pub.photo.trim()">
          </video>
          <br>
          <div class="controls">
            <!-- Play/Pause Icons -->
            <ion-icon name="play" style="zoom: 2.5;" (click)="toggleManualPause(videoElement)" *ngIf="videoElement.paused"></ion-icon>
            <ion-icon name="pause" style="zoom: 2.5;" (click)="toggleManualPause(videoElement)" *ngIf="!videoElement.paused"></ion-icon>

            <!-- Seek Slider -->
            <input type="range" min="0" [max]="videoElement.duration" [value]="videoElement.currentTime"
            (input)="seekVideo($event, videoElement)">
          </div>

            <br>
            <div class="controls_volume">
            <!-- Mute/Unmute Icon -->
            <ion-icon [name]="videoElement.muted ? 'volume-mute' : 'volume-high'"
                      (click)="toggleMute(videoElement)">
            </ion-icon>

            <!-- Volume Control Slider -->
            <input type="range" min="0" max="1" step="0.1" [value]="videoElement.volume"
            (input)="setVolume($event, videoElement)" >
            </div>

        </ng-container>


        <br>
        <ion-label class="localisation"
                  *ngIf="pub?.distanceToUser !== undefined && pub?.distanceToUser !== null">
          Vous êtes présentement à : {{ convertMetersToKilometers(pub?.distanceToUser) }} du lieu.
        </ion-label>
        <br>
        <p class="ligne"></p>
        <br>
        &nbsp;

        <ion-button *ngIf="pub?.longitude && pub?.latitude && pub?.longitude !== undefined && pub?.latitude !== undefined && pub?.longitude !== null && pub?.latitude !== null && pub?.longitude.toLowerCase().trim() !== 'non' && pub.latitude.toLowerCase().trim() !== 'non'"
                    class="btnpub location" fill="outline"
                    [href]="'https://www.google.com/maps/dir/?api=1&origin=' + userlatitude + ',' + userlongitude + '&destination=' + pub?.latitude + ',' + pub?.longitude + '&travelmode=driving&dir_action=navigate&waypoints=' + pub?.latitude + ',' + pub?.longitude">
          Localiser le lieu
          &nbsp;
          <ion-icon name="location-outline"></ion-icon>
        </ion-button>

        &nbsp;
        <br>

        <ion-button *ngIf="pub.contact && pub.contact !== '0' && pub.contact !== undefined && pub.contact !== null" class="btnpub contact" fill="outline" [href]="getWhatsAppLink(pub.contact)">
          Contact-Info
          &nbsp;
          <ion-icon class="black" name="logo-whatsapp"></ion-icon>
        </ion-button>
        <br>
        <br>

        <!--  nbr j'aime -->
        <div class="left-align">
          <ion-label class="likes_count light">{{ pub.likes_count }}</ion-label>
          <br>

          <div style="display: flex; justify-content: space-between;">
            <!-- Bouton "J'aime" aligné à gauche -->
            <ion-button (click)="likepub(pub)" class="likes" fill="outline"   [disabled]="pub.isLoading" [ngClass]="{'vert': hasLiked(pub)}">
              <ion-icon class="black" name="thumbs-up"></ion-icon>
            </ion-button>

            <!-- Bouton "Commentaire" aligné à droite -->
            <ion-button (click)="CommentPub(pub)" class="likes" fill="outline">
              <ion-icon class="black" name="chatbox"></ion-icon>
            </ion-button>
          </div>
        </div>
      </ion-card-content>
      <div class="icon-right" *ngIf="userData.grade === 'admin' || userData.grade === 'superadmin'">
        <ion-icon name="create" style="zoom: 3.0;" color="success" [routerLink]="['/updatepub/',pub.id]"></ion-icon>
        <ion-icon name="trash" style="zoom: 3.0;" class="iconsupp" (click)="presentAlert(pub.id)"></ion-icon>
      </div>
    </div>
    <!-- Si l'utilisateur est un utilisateur normal, afficher uniquement les pubs non-admin -->
    <div *ngIf="pub.admin.trim() !== 'admin' && pub.admin.trim() !== 'evenement' && userData.grade !== 'admin' && userData.grade !== 'superadmin'" class="custom-card">

      <br>
      <!-- Le reste de votre code d'affichage des pubs -->
      <div *ngIf="pub.countdown !== undefined && pub.countdown !== null && pub.countdown.trim() !== 'non'">
        <ion-label class="deconte" [ngClass]="{'blinking-text': shouldBlink(pub.countdown)}">  {{ pub.countdown }}</ion-label>
      </div>
      <br>
      <br>
      <br *ngIf="pub.countdown !== undefined && pub.countdown !== null && pub.countdown.trim() !== 'non'">

      <ion-card-title class="titre" *ngIf="pub.titre.toLowerCase().trim() !== 'non' && pub.titre !== null && pub.titre !== undefined">
        {{pub.titre}}
      </ion-card-title>

      <!-- Commentaire de la publicité -->
      <p [innerHTML]="commentaireService.sanitize(getDisplayedCommentaire(pub))"
      *ngIf="pub.commentaire.toLowerCase().trim() !== 'non' && pub.commentaire !== null && pub.commentaire !== undefined"
      class="commentaire">
      </p>
      <a *ngIf="getPlainText(pub.commentaire).length > limit_comment" (click)="toggleCommentaire()" class="see-more-link">
        {{ showFullCommentaire ? 'Voir moins' : 'Voir plus' }}
      </a>

      <p class="ligne"></p>
      <br>

      <ion-card-content>
        <!-- Illustration (image ou vidéo) de la publicité -->
        <ng-container *ngIf="isImage(pub.photo)">
          <ion-img class="custom-image facebook-style" [src]="pub.photo.trim()"></ion-img>
        </ng-container>

        <ng-container *ngIf="isVideo(pub.photo)">
          <video #videoElement class="custom-image video-style" (click)="toggleManualPause(videoElement)" loop muted>
            <source [src]="pub.photo.trim()">
          </video>
          <br>
          <div class="controls">
            <ion-icon name="play" style="zoom: 2.5;" (click)="toggleManualPause(videoElement)" *ngIf="videoElement.paused"></ion-icon>
            <ion-icon name="pause" style="zoom: 2.5;" (click)="toggleManualPause(videoElement)" *ngIf="!videoElement.paused"></ion-icon>
            <input type="range" min="0" [max]="videoElement.duration" [value]="videoElement.currentTime" (input)="seekVideo($event, videoElement)">
          </div>
        </ng-container>

        <br>
        <ion-label class="localisation"
                  *ngIf="pub.distanceToUser !== undefined && pub.distanceToUser !== null && pub.longitude.toLowerCase().trim() !== 'non' && pub.latitude.toLowerCase().trim() !== 'non'">
          Vous êtes présentement à : {{ convertMetersToKilometers(pub?.distanceToUser) }} du lieu.
        </ion-label>
        <br>
        <p class="ligne"></p>
        <br>
        &nbsp;

        <ion-button *ngIf="pub.longitude && pub.latitude && pub.longitude !== undefined && pub.latitude !== undefined && pub.longitude !== null && pub.latitude !== null && pub.longitude.toLowerCase().trim() !== 'non' && pub.latitude.toLowerCase().trim() !== 'non'"
                    class="btnpub location" fill="outline"
                    [href]="'https://www.google.com/maps/dir/?api=1&origin=' + userlatitude + ',' + userlongitude + '&destination=' + pub.latitude + ',' + pub.longitude + '&travelmode=driving&dir_action=navigate&waypoints=' + pub.latitude + ',' + pub.longitude">
          Localiser le lieu
          <ion-icon name="location-outline"></ion-icon>
        </ion-button>

        &nbsp;
        <br>

        <ion-button *ngIf="pub.contact && pub.contact !== '0' && pub.contact !== undefined && pub.contact !== null" class="btnpub contact" fill="outline" [href]="getWhatsAppLink(pub.contact)">
          <ion-icon class="black" name="logo-whatsapp"></ion-icon>
          Contact-Info
        </ion-button>
        <br>
        <br>

        <!--  nbr j'aime -->
        <div class="left-align">
          <ion-label class="likes_count light">{{ pub.likes_count }}</ion-label>
          <br>

          <div style="display: flex; justify-content: space-between;">
            <!-- Bouton "J'aime" aligné à gauche -->
            <ion-button (click)="likepub(pub)" class="likes" fill="outline" [ngClass]="{'vert': hasLiked(pub)}">
              <ion-icon class="black" name="thumbs-up"></ion-icon>
              J'aime
            </ion-button>

            <!-- Bouton "Commentaire" aligné à droite -->
            <ion-button (click)="CommentPub(pub)" class="likes" fill="outline">
              <ion-icon class="black" name="chatbox"></ion-icon>
              Commentaire
            </ion-button>
          </div>
        </div>
      </ion-card-content>
    </div>
  </div>
</ion-list>


  <br *ngIf="pub == 'erreur_chargement'">
  <br *ngIf="pub == 'erreur_chargement'">
  <div *ngIf="pub == 'erreur_chargement'" class="erreur_chargement">
    <ion-icon name="alert-circle" style="zoom: 12;" color="success"></ion-icon>
    <p>Erreur de chargement</p>
    <br>
    <ion-button color="success" (click)="refreshPage($event)" >réessayer</ion-button>
  </div>

  <br *ngIf="pub == 'aucune_alerte'">
  <br *ngIf="pub == 'aucune_alerte'">
  <div>
    <div  *ngIf="pub == 'aucune_alerte'" class="erreur_chargement">
      <ion-icon name="alert-circle" style="zoom: 12;" color="success"></ion-icon>
      <p>Aucune Pub trouvé</p>
      <br>
    </div>
  </div>

<!-- Infinite Scroll -->
<ion-infinite-scroll [disabled]="infiniteScrollDisabled" threshold="100px" (ionInfinite)="loadMore($event)">
  <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
</ion-infinite-scroll>

</ion-content>



<!-- menu -->
<app-sidebar></app-sidebar>

