ion-content  {
  --ion-background-color:#dfe0df
}


ion-card{
  font-style: normal;
  font-family: "Roboto", sans-serif;
  border-radius: 18px;
  }

  ion-header {
    ion-toolbar {
      height: 48px;  /* Hauteur recommandée pour les en-têtes sur mobile */
      display: flex;
      align-items: center;  /* Centrer verticalement les éléments */
      --background: linear-gradient(to right, #0eeb49, #05a83d) !important;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }

    ion-title {
      font-size: 1.2rem;  /* Taille du texte adaptable */
      text-align: center;
      color: white;
    }

    ion-back-button {
      --color: light;  /* Couleur spécifique du bouton retour */
    }
  }

  .message-item {
    margin-bottom: 15px;
    border-radius: 8px;
    margin: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
  }


  @media (min-width: 1024px) {
    .message-item {
      padding-bottom: 0 !important;
      width: 55%;
      margin-bottom: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 18%;
    }
  }


    .message-list {
      padding: 0 15px;
    }

    .cart-label {
      display: flex;
      align-items: center;
      padding: 5px 10px;
      background-color: #f9f9f9; /* Light background */
      border-radius: 20px; /* Rounded label */
      font-size: 16px;
      font-weight: bold;
      color: #333; /* Dark text */
      cursor: pointer;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Light shadow for depth */
      transition: background-color 0.3s ease, box-shadow 0.3s ease;

      &:hover {
        background-color: #e0e0e0; /* Slightly darker on hover */
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); /* Slightly stronger shadow */
      }
    }

  .custom-card {
    margin-bottom: 20px; /* Espace entre les cartes, ajustez selon vos besoins */
    border-radius: 2px; /* Coins arrondis, ajustez selon vos besoins */
    box-shadow: 0 4px 8px rgba(43, 218, 116, 0.1); /* Ombre, ajustez selon vos besoins */
    overflow: hidden; /* Pour masquer le débordement de la carte */
    background-color: rgb(247, 247, 247); /* Couleur de fond verte, ajustez selon vos besoins */
    border-radius: 7 px;
    margin: 7px;
    padding: 3px;
  }




// Définissez la couleur de fond pour la classe .liked
ion-button.likes.liked {
  background-color: #0eeb49; // Remplacez par la couleur souhaitée
  transition: background-color 0.3s ease-in-out ;
}


.deconnect{
  float: right;
  }


.utilisateur{
  float: left;
}

body {
  font-family: "Roboto", sans-serif;
}


.list{
  border-radius: 15px;
font-style: normal;
font-family: "Roboto", sans-serif;
padding: 1px;
}


.tool1{
font-size: 20px;
font-style: normal;
padding: 10px;
  border-radius: 3px;
  font-family: "Roboto", sans-serif;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 5px; /* Rayon pour le coin inférieur gauche */
  border-bottom-right-radius: 5px; /* Rayon pour le coin inférieur droit */
  --background: linear-gradient(to right, #0eeb49, #05a83d); /* Ajout d'un dégradé */
  --ion-toolbar-background: transparent;
}


.iconsupp{
  //display: inline-block;
  color: #f70707a9;
  }

  .iconmodif{
  //display: inline-block;
  color: #0808f8a9;

}
.checkbox {
//display: inline-block;
font-size: 42px;
color: #0808f8a9;
//vertical-align: middle;
float: left;

}

.icon{
  //display: inline-block;
  font-size: 42px;
  color: #2dd36f;
  vertical-align: middle;
  float: right;
  }


  .text{
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-family: "Roboto", sans-serif;
}


.span{
  display: inline-block;
  vertical-align: middle;
  font-style: normal;
  text-align: center;
  --ion-background-color:#fdfdfd;
  font-family: "Roboto", sans-serif;
  --background: linear-gradient(#e0ede4, #afcab0) !important;
  padding: 3px;
}

.select{
  padding: 7px;
  top: 0px;
  color: #121212;
  left: 200px;
  width: 100px;
  right: 1px;
  vertical-align: right;
  width: 150px;
  height: 0px;
  text-align: right;
  font-size: 13px;
  font-style: normal;
  --ion-background-color:#fdfdfd;
  font-family: "Roboto", sans-serif;

}
.toolbar{
  height: 40px;
  font-size: 10px;
  font-style: normal;


}

.span1{
  width: 100px;
  text-align: left;
  font-size: 10px;
  font-style: normal;
  --ion-background-color:#fdfdfd;
}


.nombre{
  //vertical-align: middle;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}


.h2{
  //vertical-align: middle;
  font-size: small;
  font-style: normal;
  padding: 1px;
  color: #fafafa;
  font-family: "Roboto", sans-serif;
  --background: linear-gradient(to right, #0eeb49, #05a83d) !important;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 109px;
}

.likes_count {
  //vertical-align: middle;
  font-size: medium;
  font-style: normal;
  padding: 11px;
  color: #151716;
  font-family: "Roboto", sans-serif;
}



.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}


.tool2{
  --background: linear-gradient(rgb(255, 255, 255), rgb(227, 227, 231)) !important;
  font-size: 15px;
  font-style: normal;
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  padding: 27px;
  }

  /* Dans votre fichier CSS ou SCSS */
  .custom-background {
    font-style: normal;
    text-align: center;
    font-family: "Roboto", sans-serif;
  color: #ffffff;
  padding: 3px;
  }

  .tool{
    //display: inline-block;
    font-size: 42px;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
  }

.welcometitle{
color: #ffffff;
}

.logo {
  text-align: center;
  font-size: 55px;
  position: absolute;
  left: 0;
  right: 0;
  top: 38%;
  //transform: translateY(-50%);
  color: #ffffff;
  font-style: normal;
  font-family: "Roboto", sans-serif;
}

.recherche {
  font-size: 20px;
  line-height: 26px;
  --ion-background-color:#fafafa;
  font-family: "Roboto", sans-serif;
}

.log {
  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  margin: 0;
}

#container a {
  text-decoration: none;
  color: #d90a0a;
}

/* Fixer le tab bar en bas de la page */
ion-tab-button {
--color-selected: #2dd36f; /* Couleur des icônes sélectionnées (en vert) */
--color-unselected: #2dd36f; /* Couleur des icônes non sélectionnées (en vert) */
}


/* Ajouter un espace au contenu pour éviter qu'il ne soit caché par le tab bar */
ion-content {
margin-bottom: 50px; /* Ajustez la valeur en fonction de la hauteur de votre tab bar */
}


/* Dans votre fichier CSS ou SCSS */
.centered-text {
font-size: 30 px;
text-align: center;
color: #121212;
}

.couleur-commentaire{
color: #ffffff;
font-size: 17px;
}

/* Dans votre fichier CSS ou SCSS */
/* Dans votre fichier CSS ou SCSS */
ion-card-content{
  padding: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}


/* Dans votre fichier CSS ou SCSS */
.custom-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Cela garantit que l'image couvre entièrement le conteneur, sans déformation */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}


.facebook-style {
  width: 100%;
  height: 100%; /* Ajustez selon vos besoins pour maintenir le rapport hauteur/largeur de l'image */
  object-fit: cover ;
  border-radius: 0px; /* Coins arrondis, ajustez selon vos besoins */
  box-shadow: 7px 7px 7px  rgba(52, 204, 100, 0.1); /* Ombre, ajustez selon vos besoins */
  overflow: hidden;
  padding: 0% !important;
}

.video-style {
  width: 100%;
  height: auto;
  box-shadow: 7px 7px 7px  rgba(52, 204, 100, 0.1); /* Ombre, ajustez selon vos besoins */
  object-fit: cover; /* ou object-fit: contain; en fonction de votre besoin */
}

.transparent-button {
  background-color: transparent !important;
  border-color: transparent !important;
}

.like-button-green {
  background-color: none;
  color: white;
}


.icon-right {
float: right; /* Aligne l'icône à droite */
}

.deconte {
float: right; /* Aligne l'icône à droite */
background-color: #8ee092; /* Couleur de fond verte */
color: rgb(24, 23, 23); /* Couleur du texte blanche */
padding: 0px; /* Espacement intérieur pour plus de visibilité */
border-radius: 1px; /* Coins arrondis */
font-size: 15px; /* Taille de la police */
margin: 10px;
}

.deconte.blinking-text {
  animation: blinker 4s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}


.video-controls {
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: flex;
  align-items: center;
}

button {
  margin-right: 10px;
  cursor: pointer;
  border: none;
  background: none;
  font-size: 20px;
}

input {
  width: 100px;
}


.couleurBouton{
color: #02751b;
--background: linear-gradient(rgb(255, 255, 255), rgb(227, 227, 231)) !important;
font-family: "Roboto", sans-serif;
}


.menu{
border-radius: 12px;
height: 32px;
}

.custom-icon {
  color: #2dd36f; /* Remplacez "blue" par la couleur de votre choix */
  font-size: 22px;
  }

  .lignemenu {
    background-color:  #2dd36f;
    height: 2px; /* Ajustez la largeur de la ligne selon vos préférences */
    width: auto;
    --padding-start: 0;
    --padding-end: 0;
    margin: 10px;
  }


.commentaire
{
//vertical-align: middle;
font-style: normal;
padding: 4px;
font-family: "Roboto", sans-serif;
color: #080a09;
--background: linear-gradient(rgb(255, 255, 255), rgb(227, 227, 231)) !important;

white-space: normal; /* Permet le retour à la ligne automatique */
word-wrap: break-word; /* Assure le passage à la ligne en cas de besoin */
text-align: justify;
font-size :large;
margin: 3%;
line-height: 1.5;
--padding-start: 0;
--padding-end: 0;

}


.localisation{
  //vertical-align: middle;
  font-size: medium;
  font-style: normal;
  padding: 3px;
  font-family: "Roboto", sans-serif;
  color: #080a09;
  --background: linear-gradient(rgb(255, 255, 255), rgb(227, 227, 231)) !important;

  white-space: normal; /* Permet le retour à la ligne automatique */
  word-wrap: break-word; /* Assure le passage à la ligne en cas de besoin */
  text-align: justify;
  margin: 0;

  --padding-start: 0;
  --padding-end: 0;
  }


.titre
{
//vertical-align: middle;
font-size: 22px;
font-style: bold;

padding: 2px;
font-family: "Roboto", sans-serif;
color: #060908;
--background: linear-gradient(rgb(255, 255, 255), rgb(227, 227, 231)) !important;
white-space: normal; /* Permet le retour à la ligne automatique */
word-wrap: break-word; /* Assure le passage à la ligne en cas de besoin */
text-align: justify;
margin: 0;
text-align: center;
--padding-start: 0;
--padding-end: 0;
}

.ligne{
  background-color:  #4ca05e;
  padding: 0.6px;
  width: auto;
  --padding-start: 0;
  --padding-end: 0;
  margin: 0;
  }

  .lignemenu {
    background-color:  #2dd36f;
    height: 2px; /* Ajustez la largeur de la ligne selon vos préférences */
    width: auto;
    --padding-start: 0;
    --padding-end: 0;
    margin: 10px;
  }


  .likes
  {
    background-color:  #fbf9f8;
   color: #747775;
   --border-color: #4ca05e;
    }


    .nombre_likes {
      font-size: 15px;
      font-style: normal;
      padding: 11px;
      font-family: "Roboto", sans-serif;
      }

      .vert {
        background-color: rgb(137, 207, 125); /* ou toute autre couleur que vous préférez */
        //color: white; /* ou toute autre couleur de texte que vous préférez */
      }

      .btnpub {
        margin-bottom: 10px; /* Ajoute un espacement entre les boutons */
      }

      /* Styliser le bouton de localisation */
      .btnpub.location {
        background-color: #fbf9f8;
        color: #4ca05e;
        --border-color: #4ca05e;
      }

      /* Styliser le bouton de contact WhatsApp */
      .btnpub.contact {
        background-color: #fbf9f8;
        color: #4ca05e;
        --border-color: #4ca05e;
      }

      /* Media queries pour ajuster le style en fonction de la taille de l'écran */
      @media screen and (max-width: 600px) {
        .btnpub {
          width: 100%; /* Ajuster la largeur du bouton pour les petits écrans */
        }
      }

      .likes {
        background-color: #ffffff;
        color: #4ca05e;
        border: 1px solid #4ca05e;
        border-radius: 5px;
        padding: 4px 8px; /* Ajustez la taille du bouton */
        cursor: pointer;
      }

      .likes ion-icon {
        margin-right: 4px; /* Espacement entre l'icône et le texte */
      }

      /* Style spécifique pour la classe 'vert' */
      .likes.vert {
        background-color: #6ed384;
        color: #e3dfdf;
      }

      /* Style pour placer le bouton à gauche */
      .left-align {
           text-align: left; /* Ajustez la marge à gauche selon vos besoins */
      }

      .arrow-container {
        position: fixed;
        bottom: 70%;/* Ajustez cette valeur selon vos préférences */
        right: 12px;  /* Ajustez cette valeur selon vos préférences */
        color: #7cc571; /* Couleur de l'icône */
        border-radius: 70%;
        cursor: pointer;
        transition: opacity 0.3s ease-in-out;
        z-index: 1000; /* Assurez-vous que l'icône est au-dessus des autres éléments */
      }

      .arrow-container.visible {
        opacity: 1;
      }

      .scrollable-content {
        height: 100%;
        overflow-y: auto;
      }



      .custom-video {
        width: 100%;
      }

      /* Styles spécifiques au plein écran */
      :host-context(.fullscreen) .custom-video {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
        background: black; /* Fond noir pour le contraste */
      }


      .video-container {
        position: relative;
      }

      .controls {
        position: relative;
        bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: rgba(69, 206, 78, 0.5);
        padding: 2px;
        border-radius: 7px;
      }

      .controls ion-icon, .controls input[type="range"] {
        background:  rgb(249, 250, 250);
        border: none;
        color: rgb(72, 210, 132);
      }

      .controls input[type="range"] {
        flex: 1;
        margin: 0 10px;
      }


      .controls_volume {
        position: relative;
        bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: flex-start; /* Alignement à gauche */
        background: rgba(69, 206, 78, 0.5);
        padding: 4px;
        border-radius: 7px;
        width: 58%; /* Ajuster automatiquement la largeur */
    }

    .controls_volume ion-icon {
        background: rgb(249, 250, 250);
        color: rgb(72, 210, 132);
        font-size: 36px; /* Réduire la taille de l'icône */
        margin-right: 5px; /* Espacement entre l'icône et le slider */
    }

    .controls_volume input[type="range"] {
        background: rgb(249, 250, 250);
        border: none;
        color: rgb(72, 210, 132);
        width: 100%; /* Réduire la largeur du slider */
        height: 10px; /* Réduire la hauteur du slider */
        margin: 0 1px; /* Espacement du slider */
    }




      .erreur_chargement {
        text-align: center;
        bottom: 35%;
      }

      .stylish-link {
        color: #70e48f;
        text-decoration: none;
        font-weight: bold;
        border-bottom: 1px dashed #f5e0e0;
        transition: color 0.3s, border-bottom-color 0.3s;
      }

      .stylish-link:hover {
        color: #ff6347;
        border-bottom-color: #ff6347;
      }

      .admin-indicator {
        background-color: rgb(231, 219, 51);
        color: white;
        float: left;
        padding: 2px;
        border-radius: 3px;
        margin-bottom: 10px;
      }
