ion-content {
  --background: #ffffff;
}

.title{
  text-align: center;
}

ion-card {
  text-align: center;
  --ion-background-color: #f9f9f9;
  --ion-card-border-radius: 15px;
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

ion-card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2dd36f;
  --ion-card-header-color: #ffffff;
  border-radius: 15px 15px 0 0;
}

ion-card-title {
  font-size: 1.2em;
  font-weight: bold;
  color: #ffffff;
}

ion-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  color: #333;
}


p {
  font-size: 0.9em;
}

.ad-banner {
  --background: #0eeb49;
  color: #ffffff;
  text-align: center;
  padding: 10px;
}

ion-header {
  .toolbar {
    --background: linear-gradient(to right, #0eeb49, #05a83d); /* Ajout d'un dégradé */
    --ion-toolbar-background: transparent;
    color: #fff;
    padding: 0 15px;
  }

  .header-row {
    display: flex;
    align-items: center;
    padding: 10px 0;
  }

  .logo {
    width: 40px;
    height: 40px;
  }

  .title {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
  }

  .header-icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .icon {
    font-size: 1.5em;
    margin-left: 15px;
  }
}
