.tool2{
  --background: linear-gradient(rgb(255, 255, 255), rgb(227, 227, 231)) !important;
  font-size: 20px;
  font-style: normal;
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  padding: 6;
  }

  /* Dans votre fichier CSS ou SCSS */
.custom-background {
  font-style: normal;
  text-align: center;
  font-family: "Roboto", sans-serif;
color: #ffffff;
padding: 3px;
overflow-y: auto; /* Autoriser le défilement vertical si nécessaire */
max-height: 100%; /* Ajustez la valeur en fonction de vos besoins */
}

.toolbar {
  --background: #4ca05e;
}

.title {
  color: #fff;
  text-align: center;
}

.content {
  --offset-bottom: 300px;
}

.item {
  border-bottom: 2px solid #eee;
}

.label {
  padding: 15px;
}

.signaleur {
  font-size: 18px;
  font-weight: bold;
}

.datetime {
  color: #777;
}

.target {
  margin-top: 5px;
  color: #4ca05e;
}

.comment {
  margin-bottom: 10px;
  margin-top: 10px;
  font-style: italic;
}

.pubid,
.commentid {
  margin-top: 5px;
  color: #777;
}

.button-rouge {
  --background: linear-gradient(rgb(232, 58, 58), rgb(163, 33, 33)) !important;

}

.button-vert {
  --background: linear-gradient(rgb(58, 232, 75), rgb(48, 176, 89)) !important;
}

.button-vert1 {
  --background: linear-gradient(rgb(58, 232, 75), rgb(48, 176, 89)) !important;
}


.recherche {
  font-size: 20px;
  line-height: 30px;
  --ion-background-color:#ffffff;
  border-radius: 10px;
}



.select {
  font-size: 20px;
  min-width: 200px;
  font-style: normal;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  height: 29px;
  padding: 7px;
  top: 0px;
  color: #fafafa;
  vertical-align: right;
  width: 150px;
  text-align: right;
  }

  .select1 {
    --background: linear-gradient(rgb(212, 228, 213), rgb(172, 205, 160)) !important;
    }

  .bloquer {
      color: rgb(235, 78, 63);
    }
