<ion-header>

  <ion-toolbar  color="success" class="tool1" >
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <br/>  <br/> <br>
    <ion-title class="tool2">Mise à jours de la  publicité</ion-title>
    <br/>
  </ion-toolbar>
</ion-header>
<br/>
<ion-content  keyboard-attach>

  <ion-refresher slot="fixed" (ionRefresh)="refreshPage($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <form >

    <br>

    <ion-item class="itementreprise">
      <ion-segment (ionChange)="updatetitre($event)">
        <ion-segment-button value="pas_de_titre">
          <ion-label> Mettre un titre</ion-label>
        </ion-segment-button>
        <ion-segment-button value="none">
          <ion-label >Non</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-item >
    <br/>

    <ion-item  *ngIf="selectedtitre !== 'none'" >
      <ion-label position="floating" class="h2"> titre de la pub</ion-label><br/>
      <ion-input [(ngModel)]="titre"  name="titre"  type="text" ></ion-input>
    </ion-item>
    <br/>
<br>

    <ion-item class="itementreprise">
      <ion-segment (ionChange)="updatecommentaire($event)">
        <ion-segment-button value="pas_de_commentaire">
          <ion-label> Mettre un commentaire</ion-label>
        </ion-segment-button>
        <ion-segment-button value="none">
          <ion-label >Non</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-item>
    <br/>

    <ion-item *ngIf="selectedcommentaire !== 'none'">
      <ion-label position="floating" class="h2"> commentaire sur la pub</ion-label><br/>
      <ion-input [(ngModel)]="commentaire" name="commentaire" type="text" ></ion-input>
    </ion-item>
<br>
    <ion-label color="warning" >Si vous avez un lien de redirection, mettez le lien complet dans le commentaire</ion-label><br/>

    <br/>
    <br> <br>


    <ion-item class="itementreprise">

      <p > Photo de la publicité :</p> <br> <br>
      <ion-segment (ionChange)="updatephoto($event)">
        <ion-segment-button value="nouvelle">
          <ion-label>Nouvelle </ion-label>
        </ion-segment-button> &nbsp;
        <ion-segment-button value="garder_photo">
          <ion-label>Garder </ion-label>
        </ion-segment-button> &nbsp;
        <ion-segment-button value="none">
          <ion-label >Non</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-item>
    <br/>
    <ion-item *ngIf="selectedphoto !== 'none' && selectedphoto !== 'garder_photo'">
      <ion-label  position="floating" class="h2">Lien illustratif (photo ou vidéo)</ion-label><br/>
      <input   type="file" accept="image/*,video/*"   (change)="onFileSelected($event)" />
    </ion-item>

    <br>
    <br>
    <br>


    <ion-item class="itementreprise">
      <ion-segment (ionChange)="updatelongitude($event)">
        <ion-segment-button value="pas_de_longitude">
          <ion-label> Mettre la longitude</ion-label>
        </ion-segment-button>
        <ion-segment-button value="none">
          <ion-label >Non</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-item>
    <br/>

    <ion-item *ngIf="selectedlongitude !== 'none'">
      <ion-label position="floating" class="h2"> Longitude </ion-label><br/>
      <ion-input [(ngModel)]="longitude" name="longitude"  type="text" ></ion-input>
    </ion-item>

    <br/>

    <ion-item class="itementreprise">
      <ion-segment (ionChange)="updatelatitude($event)">
        <ion-segment-button value="pas_de_latitude">
          <ion-label> Mettre la latitude</ion-label>
        </ion-segment-button>
        <ion-segment-button value="none">
          <ion-label >Non</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-item>
    <br/>
 <br>

    <ion-item *ngIf="selectedlatitude !== 'none'">
      <ion-label position="floating" class="h2"> Latitude </ion-label><br/>
      <ion-input [(ngModel)]="latitude" name="latitude" type="text" ></ion-input>
    </ion-item> <br/>
    <br/>


    <ion-item class="itementreprise">
      <ion-segment (ionChange)="updatecontact($event)">
        <ion-segment-button value="pas_de_contact">
          <ion-label> Mettre le contact</ion-label>
        </ion-segment-button>
        <ion-segment-button value="none">
          <ion-label >Non</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-item>
    <br/>


    <ion-item *ngIf="selectedcontact!== 'none'">
      <ion-label position="floating" class="h2"> Contact </ion-label><br/>
      <ion-input [(ngModel)]="contact" name="contact" type="number" ></ion-input>
    </ion-item>

    <br/>
    <br>

    <ion-item >
      <ion-label position="floating" class="h2">Date début évènement</ion-label><br/>
      <br>
      <p position="floating" class="h2"> Ancienne date début : {{date_deb}} </p><br/>
      <br/>

      <ion-datetime
        *ngIf="selectedDateOptiondeb !== 'none'"

        displayFormat="DD/MM/YYYY"
        (ionChange)="updateDate($event)"
      ></ion-datetime>
    </ion-item>

    <ion-item class="itementreprise">
      <ion-segment (ionChange)="updateDateOptiondeb($event)">
        <ion-segment-button value="pas_de_date_debut">
          <ion-label>Date spécifique</ion-label>
        </ion-segment-button>
        <ion-segment-button value="none">
          <ion-label >Non</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-item>
 <br>
  <br>

    <ion-item>
      <ion-label position="floating" class="h2">Date fin évènement</ion-label><br/>
      <br>
      <ion-label position="floating" class="h2"> Ancienne date fin : {{date_de_fin}}</ion-label><br/>

      <br>
      <ion-datetime
        *ngIf="selectedDateOptionfin.trim() !== 'none'"

        displayFormat="DD/MM/YYYY"
        (ionChange)="updateDateFin($event)"
      ></ion-datetime>
    </ion-item>

    <ion-item class="itementreprise">
      <ion-segment (ionChange)="updateDateOptionfin($event)">
        <ion-segment-button value="pas_de_date_fin">
          <ion-label>Date spécifique</ion-label>
        </ion-segment-button>
        <ion-segment-button value="none">
          <ion-label>Non</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-item>

    <br>
    <br> <br>

    <ion-item class="itementreprise">
      <ion-segment (ionChange)="updaterang($event)">
        <ion-segment-button value="pas_de_rang">
          <ion-label> Mettre le rang</ion-label>
        </ion-segment-button>
        <ion-segment-button value="none">
          <ion-label >Non</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-item>

    <br/> <br>

    <ion-item *ngIf="selectedrang !== 'none'">
      <ion-label position="floating" class="h2"> Rang de la pub </ion-label><br/>
      <ion-input ion-keyboard-fix [(ngModel)]="rangpub"  name="rang" type="number" ></ion-input>
    </ion-item>

    <br>
    <br>

    <ion-item class="itementreprise">
      <ion-segment (ionChange)="updateadmin($event)">
        <ion-segment-button value="pub_admin">
          <ion-label> Mettre en admin</ion-label>
        </ion-segment-button>
        <ion-segment-button value="evenement">
          <ion-label >mettre dans évènement</ion-label>
        </ion-segment-button>
        <ion-segment-button value="none">
          <ion-label >Non</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-item>
    <br/>


    <ion-item >
      <ion-label position="floating" class="h2"> grade de la pub : {{admin}} </ion-label><br/>
    </ion-item>
    <br/>

    <ion-col>
    <br/> <br/>
    <ion-button type="button"  (click)="updatepub()"   color="success" shape="round" expand="full">
    Modifier
    </ion-button>
    </ion-col>

  </form>
  </ion-content>


