<ion-content>
  <br/> <br/> <br/> <br/>
  <div class="defile">
    <p class="text_defile"> PAYS DES HOMMES INTEGRES</p>
  </div>





  <div class="divlogin">
    <form class="form" [formGroup]="verifieForm" >
    <ion-card  class="rounded-form">
<ion-card-header>
<ion-card-title  color="success">Connexion</ion-card-title>
</ion-card-header>

<ion-card-content>
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input type="email" [(ngModel)]="email_entreprise" formControlName="email" ></ion-input>
  </ion-item>
  <ion-label color="danger" *ngIf="verifieForm.get('email').touched && verifieForm.get('email').hasError('required')">Veuillez votre nom d'utilisareur</ion-label>
  <ion-label color="danger" *ngIf="verifieForm.get('email').touched && verifieForm.get('email').hasError('minlength')">nom d'utilisateur invalide</ion-label>

  <br/>
  <ion-item>
    <ion-label position="floating" >Mot de Passe</ion-label>
    <ion-input type="{{showPassword ? 'text' : 'Password'}}" [(ngModel)]="password_entreprise" formControlName="password" ></ion-input>
    <ion-icon slot="end" [name]="showPassword ? 'eye-off' :'eye'" (click)="togglePasswordVisibility()"></ion-icon>
  </ion-item>
  <ion-label color="danger" *ngIf="verifieForm.get('password').touched && verifieForm.get('password').hasError('required')">Entrer un mot de passe</ion-label>
  <ion-label color="danger" *ngIf="verifieForm.get('password').touched && verifieForm.get('password').hasError('pattern')">Entrer un mot de passe de 8 caractère minimum avec au moins une majuscule,une minuscule,un chiffre et un caractère spécial(@ ou $ ou ! ou % ou * ou ? ou & ou #)</ion-label>

<ion-button color="success" size="full" (click)="login4()" [disabled]="!verifieForm.valid" > Connexion</ion-button>
<br/>
<h2  class="inscrip" [routerLink]="['/inscription/']" color="success" >s'inscrire</h2>    <br/>
 <h2  class="inscrip" [routerLink]="['/mot-de-passe-oublie/']" color="success" >mot de passe oublié</h2>
</ion-card-content>
</ion-card>
</form>

</div>
</ion-content>
