<ion-header>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" color="light"></ion-back-button>
    </ion-buttons>
    <br>
    <br> <br>
    <ion-title class="title">Vérification</ion-title>
    <br>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding verification-content">
  <div class="verification-container">
    <ion-label color="success" position="floating">un code de vérification vous a été envoyé, entrez-le</ion-label>
    <br>
    <br>
    <ion-item lines="full" class="verification-item">
      <ion-label color="success" position="floating">Code de vérification</ion-label>
      <ion-input [(ngModel)]="verificationCode" type="number" class="verification-input" placeholder="Entrez le code"
      required></ion-input>
    </ion-item>
    <ion-button
    *ngIf="verificationCode"
    expand="block"
    color="success"
    class="verification-button"
    (click)="verifyCode()"
  >
    Vérifier
  </ion-button>

  <br>

  <ion-button
  color="success"
  class="verification-button"
  (click)="renvoyercode()"
  [disabled]="isWaiting">
  Réessayer
</ion-button>

</div>
</ion-content>



