<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title >Vérification</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding verification-content">
  <div class="verification-container">
    <h1 color="success" style="text-align: center;">Un code de vérification vous a été envoyé, entrez-le</h1>
    <br>

    <!-- Champ d'entrée pour le code de vérification -->
    <ion-item lines="full" class="verification-item">
      <ion-label color="success" position="floating">Code de vérification</ion-label>
      <ion-input [(ngModel)]="verificationCode" type="number" class="verification-input" placeholder="Entrez le code"></ion-input>
    </ion-item>

    <!-- Bouton pour vérifier le code -->
    <ion-button expand="block" color="success" (click)="verifyCode()" [disabled]="!verificationCode">
      Vérifier
    </ion-button>

    <br>

    <!-- Bouton pour renvoyer le code -->
    <ion-button expand="block" color="success" (click)="renvoyercode()" [disabled]="isWaiting">
      Réessayer
    </ion-button>

    <!-- Affichage du compte à rebours si en attente -->
    <div *ngIf="isWaiting" style="text-align: center; margin-top: 10px;">
      <p>Veuillez attendre : {{ countdown }} secondes avant de réessayer.</p>
    </div>
  </div>

</ion-content>
