<ion-header>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" color="light"></ion-back-button>
    </ion-buttons>
    <ion-row class="header-row">
      <ion-title class="title"> RESTAURANT</ion-title>
    </ion-row>
    <ion-searchbar class="recherche" type="text" placeholder="Rechercher un restaurant..." [(ngModel)]="term"></ion-searchbar>
  </ion-toolbar>
</ion-header>


<div class="arrow-container" #scrollButton  (click)="scrollToTop()" >
  <ion-icon name="arrow-up-circle" class="red-arrow" style="zoom: 3.0;"></ion-icon>
</div>


<ion-content>
  <!-- Section visible uniquement pour admin/superadmin -->
  <ion-item *ngIf="grade === 'admin' || grade === 'superadmin'" lines="none">
    <ion-label color="success">Ajouter un restaurant</ion-label>
    <ion-icon type="button" [routerLink]="['/ajouter-restaurant/']" style="zoom: 1.1;" name="add-circle-outline" class="icon"></ion-icon>
  </ion-item>

  <h2 style="text-align: center;">
    Craquez pour un plat délicieux ! Commandez en ligne et savourez-le chez vous en quelques minutes.
  </h2>

  <ion-refresher slot="fixed" (ionRefresh)="refreshPage($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-card *ngFor="let resto of resto | customFilter: term" class="service-card">
      <ion-card-header>
        <ion-label class="nom" color="success">{{ resto.nom_resto }}</ion-label>
      </ion-card-header>

      <ion-card-content>
        <!-- Image Display -->
        <ng-container *ngIf="isImage(resto.image)">
          <ion-img class="custom-image" [src]="resto.image.trim()"></ion-img>
        </ng-container>

        <!-- Description -->
        <p>{{ resto.description }}</p>

        <!-- Localisation -->
        <ion-label *ngIf="resto.distanceToUser !== undefined" class="localisation">
          Vous êtes présentement à : {{ convertMetersToKilometers(resto.distanceToUser) }} du lieu.
        </ion-label>

        <!-- Boutons -->
        <ion-button *ngIf="resto.longitude && resto.latitude" class="btnpub location" fill="outline"
          [href]="'https://www.google.com/maps/dir/?api=1&origin=' + userlatitude + ',' + userlongitude + '&destination=' + resto.latitude + ',' + resto.longitude + '&travelmode=driving'">
          Localiser le lieu
          <ion-icon name="location-outline"></ion-icon>
        </ion-button>

        <ion-button *ngIf="resto.contact && resto.contact !== '0'" class="btnpub contact" fill="outline" [href]="getWhatsAppLink(resto.contact)">
          Contact-Info
          <ion-icon name="logo-whatsapp"></ion-icon>
        </ion-button>
      </ion-card-content>

      <!-- Actions pour Admin/SuperAdmin -->
      <div class="icon-right" *ngIf="grade === 'admin' || grade === 'superadmin'">
        <ion-icon name="create" style="zoom: 3.0;" color="success" [routerLink]="['/update-restorant/', resto.id]"></ion-icon>
        <ion-icon name="trash" style="zoom: 3.0;" class="iconsupp" (click)="presentAlert(resto)"></ion-icon>
      </div>
    </ion-card>
  </ion-list>

  <br *ngIf="resto == 'erreur_chargement'">
  <br *ngIf="resto == 'erreur_chargement'">
  <div *ngIf="resto == 'erreur_chargement'" class="erreur_chargement">
    <ion-icon name="alert-circle" style="zoom: 12;" color="success"></ion-icon>
    <p>Erreur de chargement</p>
    <br>
    <ion-button color="success" (click)="refreshPage($event)" >réessayer</ion-button>
  </div>

  <br *ngIf="resto == 'aucune_alerte'">
  <br *ngIf="resto == 'aucune_alerte'">
  <div>
    <div  *ngIf="resto == 'aucune_alerte'" class="erreur_chargement">
      <ion-icon name="alert-circle" style="zoom: 12;" color="success"></ion-icon>
      <p>Aucun restorant trouvé, reessayer </p>
      <br>
    </div>
  </div>

  <ion-infinite-scroll threshold="100px" [disabled]="infiniteScrollDisabled" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Chargement...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
