
body {
  font-family: "Roboto", sans-serif;
}



.h3{
  font-size: 21px;
  font-style: normal;

  font-family: "Roboto", sans-serif;
    color: black;
  }
  .tool1{
    font-size: 20px;
    font-style: normal;
    font-family: "Roboto", sans-serif;
      padding: 8;
  border-radius: 10px;
    }

  .h2{
  font-size: 18px;
  font-style: normal;

  font-family: "Roboto", sans-serif;
  }

    .tool2{

      font-size: 18px;
      font-style: normal;
      text-align: center;
      font-family: "Roboto", sans-serif;
    padding: 5;
      }

      .header-row {
        background: #7163AA;
        color: #fff;
        font-size: 18px;
      }

      ion-col {
        border: 1px solid #ECEEEF;
      }

      .commentaire1 {
        text-align: center;
        font-size: 25px;
      }

      /* Dans votre fichier CSS personnalisé */
      .custom-background {
       --background: #f2f2f2; /* Remplacez cette couleur par la nuance de gris légère que vous souhaitez */

       }
       .list {
        --background: #a29797; /* Remplacez cette couleur par la nuance de gris légère que vous souhaitez */

        }


      .custom-title {
font-size: 24px;
font-weight: bold;
color: white;
text-align: center;
}

.custom-content {
  background-color: #f5f5f5; /* Couleur de fond pour votre contenu */
}

.custom-list {
  padding: 16px;
}

.custom-comment {
  font-size: 20px;
  color: #333; /* Couleur de texte personnalisée */
  font-weight: bold;
}

.custom-label {
  font-size: 14px;
  color: #555; /* Couleur de texte personnalisée */
}


/* pour le menu fastfood */

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;


}

.menu-item {
  width: 100%;
  background-color: #eee3e3;
  border-radius: 5px;
  margin: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
}

.menu-item:hover {
  transform: scale(1.05);
}

.item-image {
  width: 100%;
  height: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.item-content {
  padding: 10px;
}

h2 {
  font-size: 24px;
  margin: 0;
}

p {
  font-size: 16px;
}

.item-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}




.boutonwhatsapp{
 text-align: center;
}

.custom-text {
  white-space: normal; /* Permet le retour à la ligne automatique */
  word-wrap: break-word; /* Assure le passage à la ligne en cas de besoin */
  text-align: justify;
  font-size: medium;
}
