ion-content{

    --ion-background-color:#fdfdfd;
  }
  ion-item{
    --background: linear-gradient(#fdfdfd, #fdfdfd) !important;
    font-size: 20px;
    font-style: normal;
      font-family:Verdana, Geneva, Tahoma, sans-serif;
    }
    .deconnect{
     float: right;
      } 
  .utilisateur{
    
      float: left;
    } 
  
  .list{
    font-size: 20px;
    font-style: normal;
      font-family:Verdana, Geneva, Tahoma, sans-serif;
      padding: 5;
    } 
  
  .tool1{
    
    font-size: 20px;
    font-style: normal;
      font-family:Verdana, Geneva, Tahoma, sans-serif;
      padding: 6;
    }
    .iconsupp{
      //display: inline-block;
      color: #f70707a9;
     }
  
     .iconmodif{
      //display: inline-block;
      color: #0808f8a9;
  
    }
    .checkbox {
    //display: inline-block;
    font-size: 42px;
    color: #0808f8a9;
    //vertical-align: middle;
    float: left;
    
   }
  
    .icon{
      //display: inline-block;
      font-size: 42px;
      color: #2dd36f;
      vertical-align: middle;
      float: right;
      
     }
  
     .text{
      display: inline-block;
      vertical-align: middle;
      font-size: 16px;
      font-style: normal;
      text-align: center;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
    }
    .span{
      display: inline-block;
      vertical-align: middle;
      font-size: 16px;
      font-style: normal;
      text-align: center;
      --ion-background-color:#fdfdfd;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        
    }
  
    .h2{
      //vertical-align: middle;
      font-size: 14px;
      font-style: normal;
      padding: 15px;
      font-family:Verdana, Geneva, Tahoma, sans-serif;
    }
  
    .tool2{
      --background: linear-gradient(rgb(255, 255, 255), rgb(227, 227, 231)) !important;
      font-size: 19px;
      font-style: normal;
      text-align: center;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
    padding: 6;
      }
      
    .tool3{
      font-size: 16px;
      font-style: normal;
      text-align: center;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
    padding: 4;
      }
      
      .tool{
        //display: inline-block;
        font-size: 42px;
        color: #ffffff;
      
      }
  
    .welcometitle{
  color: #ffffff;
    }
    .logo {
      text-align: center;
      font-size: 55px;
      position: absolute;
      left: 0;
      right: 0;
      top: 38%;
      //transform: translateY(-50%);
      color: #ffffff;
      font-style: normal;
      font-family:Verdana, Geneva, Tahoma, sans-serif;
    }
    
    .recherche {
      font-size: 20px;
      line-height: 26px;
      --ion-background-color:#fafafa;
    }
    
    .log {
      font-size: 16px;
      line-height: 22px;
    
      color: #ffffff;
    
      margin: 0;
    }
    
    #container a {
      text-decoration: none;
      color: #d90a0a;
    }
    