<ion-header >

  <ion-toolbar class="tool1" color="success">
    <br/> <br/>
      <ion-title class="tool2">INFORMATION</ion-title>
      <br/>
    </ion-toolbar>
</ion-header>

<ion-content padding class="custom-background"  [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refreshPage($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

<br/>



    <form [formGroup]="verifieForm">

      <ion-label class="Label">Commentaire1</ion-label >  <br>
      <ion-item>
        <ion-input [(ngModel)]="commentaire1" formControlName="commentaire1" type="text"></ion-input>
      </ion-item>
      <ion-label color="danger" *ngIf="verifieForm.get('commentaire1').touched && verifieForm.get('commentaire1').errors?.required">Veuillez entrer le commentaire </ion-label>
      <ion-label color="danger" *ngIf="verifieForm.get('commentaire1').touched && verifieForm.get('commentaire1').hasError('minlength')">Verifier la longueur commentaire</ion-label>
      <br/><br/>

      <ion-label class="Label">Nombre de partant</ion-label >  <br>
        <ion-item>
          <ion-input [(ngModel)]="nbrpartant" formControlName="nbrpartant" type="text"></ion-input>
        </ion-item>
        <ion-label color="danger" *ngIf="verifieForm.get('nbrpartant').touched && verifieForm.get('nbrpartant').errors?.required">Veuillez entrer le nombre de partant </ion-label>
        <ion-label color="danger" *ngIf="verifieForm.get('nbrpartant').touched && verifieForm.get('nbrpartant').hasError('minlength')">Verifier la longueur </ion-label>
        <br/><br/>

        <ion-label class="Label">Type de course</ion-label >  <br>
          <ion-item>
            <ion-input [(ngModel)]="typecourse" formControlName="typecourse" type="text"></ion-input>
          </ion-item>
          <ion-label color="danger" *ngIf="verifieForm.get('typecourse').touched && verifieForm.get('typecourse').errors?.required">Veuillez entrer le type de course </ion-label>
          <ion-label color="danger" *ngIf="verifieForm.get('typecourse').touched && verifieForm.get('typecourse').hasError('minlength')">Verifier la longueur </ion-label>
          <br/><br/>

          <ion-label class="Label">Pronostic</ion-label >  <br>
            <ion-item>
              <ion-input [(ngModel)]="numdujour" formControlName="numdujour" type="text"></ion-input>
            </ion-item>
            <ion-label color="danger" *ngIf="verifieForm.get('numdujour').touched && verifieForm.get('numdujour').errors?.required">Veuillez entrer le numero  </ion-label>
            <ion-label color="danger" *ngIf="verifieForm.get('numdujour').touched && verifieForm.get('numdujour').hasError('minlength')">Verifier la longueur de votre numero</ion-label>
            <br/><br/>

            <ion-label class="Label">Belle chance</ion-label >  <br>
              <ion-item>
                <ion-input [(ngModel)]="num2" formControlName="num2" type="text"></ion-input>
              </ion-item>
              <ion-label color="danger" *ngIf="verifieForm.get('num2').touched && verifieForm.get('num2').errors?.required">Veuillez entrer le numero </ion-label>
              <ion-label color="danger" *ngIf="verifieForm.get('num2').touched && verifieForm.get('num2').hasError('minlength')">Verifier la longueur de votre numero</ion-label>
              <br/><br/>

              <ion-label class="Label">Commentaire2</ion-label >  <br>
                <ion-item>
                  <ion-input [(ngModel)]="commentaire2" formControlName="commentaire2" type="text"></ion-input>
                </ion-item>
                <ion-label color="danger" *ngIf="verifieForm.get('commentaire2').touched && verifieForm.get('commentaire2').errors?.required">Veuillez entrer le commentaire </ion-label>
                <ion-label color="danger" *ngIf="verifieForm.get('commentaire2').touched && verifieForm.get('commentaire2').hasError('minlength')">Verifier la longueur commentaire</ion-label>
                <br/><br/>



    <ion-col>
      <br/> <br/>
      <ion-button type="button" (click)="updatepmu()" [disabled]="!verifieForm.valid" color="success" shape="round" expand="full">
      Modifier
    </ion-button>
    </ion-col>
  </form>



</ion-content>
