<ion-header >

  <ion-toolbar class="tool1" color="success">
    <br/>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <br/> <br/>
      <ion-title class="tool2">INFORMATION</ion-title>
      <br/>
    </ion-toolbar>
</ion-header>

<ion-content padding class="custom-background"  [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refreshPage($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

<br/>
<ion-list >

 <ion-item  class="custom-background" lines="inset" *ngFor="let fastfood of fastfood">
  <ion-label color="dark">
    <h2 class="commentaire1">{{fastfood.nomplat}}</h2 >  <br/><br/>

      <div class="menu">
        <div class="menu-item">
          <ion-img class="item-image" [src]="fastfood.lienphoto"></ion-img>
          <div class="item-content">
            <h2 class="prix"></h2> <br/>
            <p class="prix" >{{fastfood.prix}}</p>
          </div>
        </div>
      </div>


  </ion-label>
  <div class="item-note">
  </div>
</ion-item>
</ion-list>
<ion-label class="ion-text-small">Et bien d'autre plat disponible... dites-nous ce dont vous avez envie!</ion-label >  <br/> <br/>

  <ion-col style="display: flex; justify-content: center;">
    <a href="https://api.whatsapp.com/send?phone=+22662023367&text=Bonjour%2C%20j'aimerais%20faire%20une%20commande" target="_blank">
      <ion-button color="success" shape="round">
        <p class="prix">Commander sur WhatsApp</p>
        <ion-icon name="logo-whatsapp" style="zoom: 1.5;"></ion-icon>
      </ion-button>
    </a>
  </ion-col>




</ion-content>
